section.cart-block
  .cart-block__container
  
    .cart-block__up
      h4.cart-block__caption Мой заказ
      .cart-block__close
      
    .cart-block__scroll  
      .cart-block__wrapper
        .cart-good
          img.cart-good__img(src="img/cart-img.png")
          .cart-good__wrap
            .cart-good__block-text
              span.cart-good__caption Epic H7-E1
              span.cart-good__price 153 000 руб.
              span.cart-good__del Удалить
            .configurate-contre
              .configurate-contre__block
                .configurate-contre__minus &mdash;

              .configurate-contre__value
                input.configurate-contre__number(type="text" value="0")
                span.configurate-contre__text шт.

              .configurate-contre__block  
                .configurate-contre__plus +

        .block-btn
          button.block-btn__btn 
            span Оформить заказ

      span.cart-block__text Купить в 1 клик