section.page-footer.container-big
  .container
    .page-footer__up.line-border
      ul.page-footer__nav
        li.page-footer__item
          a.page-footer__link(href="#") Игровые
        li.page-footer__item
          a.page-footer__link(href="#") Рабочие станции
        li.page-footer__item
          a.page-footer__link(href="#") Собрать ПК
          
      .social
        span.social__text Мы в соцсетях
        ul.social__list
          li.social__item
            a.social__link(href="#")
              .social__wrap-icon
                img.social__icon(src="img/instagram.svg")
              .social__wrap-icon
                img.social__icon(src="img/instagram.svg")
          li.social__item
            a.social__link(href="#")
              .social__wrap-icon
                img.social__icon(src="img/facebook.svg")
              .social__wrap-icon
                img.social__icon(src="img/facebook.svg")
          li.social__item
            a.social__link(href="#")
              .social__wrap-icon
                img.social__icon(src="img/vk.svg")
              .social__wrap-icon
                img.social__icon(src="img/vk.svg")
              
    .page-footer__middle.line-border
      .page-footer__left-block
        ul.page-footer__list-sm
          li.page-footer__item-sm
            a.page-footer__link-sm(href="#") Акции
          li.page-footer__item-sm
            a.page-footer__link-sm(href="#") О нас
          li.page-footer__item-sm
            a.page-footer__link-sm(href="#") Как купить
          li.page-footer__item-sm
            a.page-footer__link-sm(href="#") Доставка
          li.page-footer__item-sm
            a.page-footer__link-sm(href="#") Контакты
            
        a.page-footer__link-red(href="#") Политика конфиденциальности
        a.page-footer__link-red(href="#") Пользовательское соглашение
        
      .page-footer__center-block
        .subscription
          span.subscription__caption Быть в курсе событий
          form.subscription__form
            .subscription__wrap
              .subscription__wrap-field
                input.subscription__field(type="email" placeholder="Ваш email")
              .block-btn
                button.block-btn__btn 
                  span Подписаться
            label.check
              input.check__input(type="checkbox")
              .check__squre
              span.check__text Я выражаю согласие с <a href="#">Политикой конфиденциальности</a>
              
      .page-footer__right-block
        a.tel(href="tel:") 8-800-707-62-52
        a.page-footer__link-red(href="#") Заказать звонок
        span.page-footer__adrees Москва, Пятницкое ш. 1/1, стр. 1, корп. 2, 4 эт., оф. 418
        a.page-footer__link-red(href="#") info@man-made.com
        span.page-footer__adrees © ManMade все права защищены, 2019
        
    //.page-footer__down
      .page-footer__row-img
        img.page-footer__img-pay(src="img/visa.png")
        img.page-footer__img-pay(src="img/mastercard.png")
        img.page-footer__img-pay(src="img/paypal.png")
        
      .studio
        a.studio__link(href="#") Создание сайта
        span.studio__text Very Good
        
            
include modal.pug            
    