.header-down
  .container
    .header-down__wrapper
      ul.nav
        li.nav__item
          a.nav__link(href="#") Акции
        li.nav__item
          a.nav__link(href="#") Как купить
        li.nav__item
          a.nav__link(href="#") Доставка
        li.nav__item
          a.nav__link(href="#") Контакты

      .header-down__right-block
        a.tel(href="tel:") 8-800-707-52-62
        span.header-down__link.show_popup(rel="modal1") Получить консультацию