.type-pc-har__question
  span.type-pc-har__hover ?
  .type-pc-har__hint
    .type-pc-har__wrap-text
      .type-pc-har__close
      h5 Центральный процессор
      p электронный блок, либо интегральная схема, исполняющая машинные инструкции, главная часть аппаратного обеспечения компьютера