section.line-form
  .container
    .line-form__wrapper
      .line-form__left
        img.line-form__img(src="img/CoolerMaster.png")
        .line-form__block-text
          span.line-form__caption Подпишитесь на новости
          span.line-form__text и получите 5% скидку на компьютер серии Epic
          
      .line-form__right
        form.line-form__form
          .line-form__wrap
            input.line-form__field(type="email" placeholder="Ваш email")
            .block-btn
              button.block-btn__btn 
                span Подписаться