section.mob-menu
  .mob-menu__container
    .mob-menu__up
      .logo
        img.logo__img(src="img/logo-black.svg")
      .mob-menu__close

    ul.mob-menu__list
      li.mob-menu__item
        a.mob-menu__link(href="#") Игровые
      li.mob-menu__item
        a.mob-menu__link(href="#") Рабочие станции
      li.mob-menu__item
        a.mob-menu__link(href="#") Собрать ПК
      li.mob-menu__item
        a.mob-menu__link(href="#") Акции
      li.mob-menu__item
        a.mob-menu__link(href="#") Как купить
      li.mob-menu__item
        a.mob-menu__link(href="#") Доставка
      li.mob-menu__item
        a.mob-menu__link(href="#") Контакт

    a.tel(href="tel:") 8-800-707-52-62
    span.header-down__link.show_popup(rel="modal1") Получить консультацию
