.type-pc-post
  .type-pc-post__up
    img.type-pc-post__img(src="img/type-pc-post.png")
  .type-pc-post__down
    .type-pc-post__flex
      .type-pc-post__wrap
        h4.type-pc-post__caption Epic H7-E1
        span.type-pc-post__price 153 000 руб.
      a.type-pc-post__cart(href="#")
        img.type-pc-post__cart-icon(src="img/cart.svg")
    p.type-pc-post__text-gray Отличные игровые компьютеры: высокая производительность и оптимальная стоимость

    .type-pc-post__row
      a.type-pc-post__link(href="#") Узнать больше
      a.type-pc-post__link(href="#") Конфигуратор

    .type-pc-post__block-text

      .type-pc-har
        .type-pc-har__wrap
          img.type-pc-har__icon(src="img/cpu.svg")
          .type-pc-har__block-text
            span.type-pc-har__caption Процессор
            span.type-pc-har__text Intel Core i5 9600K Intel Core i5 9600K

        //include hint.pug

      .type-pc-har
        .type-pc-har__wrap
          img.type-pc-har__icon(src="img/gpu.svg")
          .type-pc-har__block-text
            span.type-pc-har__caption Видеокарта
            span.type-pc-har__text 8 Gb MSI GeForce 2070 Super 

        //include hint.pug

      .type-pc-har
        .type-pc-har__wrap
          img.type-pc-har__icon(src="img/motherboard.svg")
          .type-pc-har__block-text
            span.type-pc-har__caption Материнская плата
            span.type-pc-har__text MSI B360 GAMING PLUS MSI B360 GAMING PLUS 

        include hint.pug

      .type-pc-har
        .type-pc-har__wrap
          img.type-pc-har__icon(src="img/ram.svg")
          .type-pc-har__block-text
            span.type-pc-har__caption Оперативная память RAM
            span.type-pc-har__text 2 x 16 Gb DDR4 Korsair

        include hint.pug

      .type-pc-har
        .type-pc-har__wrap
          img.type-pc-har__icon(src="img/gpu.svg")
          .type-pc-har__block-text
            span.type-pc-har__caption Видеокарта
            span.type-pc-har__text 8 Gb MSI GeForce 2070 Super 8 Gb MSI GeForce 2070 Super 

        include hint.pug

      .type-pc-har
        .type-pc-har__wrap
          img.type-pc-har__icon(src="img/motherboard.svg")
          .type-pc-har__block-text
            span.type-pc-har__caption Материнская плата
            span.type-pc-har__text MSI B360 GAMING PLUS 

        include hint.pug

      .type-pc-har
        .type-pc-har__wrap
          img.type-pc-har__icon(src="img/ram.svg")
          .type-pc-har__block-text
            span.type-pc-har__caption Оперативная память RAM
            span.type-pc-har__text 2 x 16 Gb DDR4 Korsair

        include hint.pug