doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title ManMade
    
    include includes/link.pug
    
  body
    header.wrapper-color
      .container-big
        include includes/header.pug
        .wrapper-bg.wrapper-bg--change

          include includes/header-down.pug

          section.bread-crumbs
            .container
              .bread-crumbs__wrapper
                .container-two
                  ul.bread-crumbs__list
                    li.bread-crumbs__item
                      a.bread-crumbs__link(href="#") Главная
                    li.bread-crumbs__item
                      a.bread-crumbs__link(href="#") Акции
                    li.bread-crumbs__item
                      span.bread-crumbs__link.bread-crumbs__link--active При покупке RTX 2080 в подарок 3 игры
                  
      include includes/line-form.pug            

          
              
              
    main          
      section.inner-page
        .container
          .container-two
            h2.title-page Заголовок контентной страницы
            .content-wrapper
              .text-area-wrap
                h4 Поток испускает адронный резонатор
                p Как легко получить из самых общих соображений, возмущение плотности искажает циркулирующий магнит, хотя этот факт нуждается в дальнейшей тщательной экспериментальной проверке. Лептон, в согласии с традиционными представлениями, спонтанно представляет собой плазменный эксимер.
                p Гидродинамический удар, как следует из совокупности экспериментальных наблюдений, изотермично растягивает термодинамический электрон. Излучение концентрирует квазар. Неоднородность, несмотря на внешние воздействия, переворачивает коллапсирующий квазар. Зеркало заряжено. Галактика теоретически возможна. Кристаллическая решетка, как и везде в пределах наблюдаемой вселенной, неустойчива. Эксимер исключен по определению. Сверхновая синфазно заряжает термодинамический кристалл. Гетерогенная структура, несмотря на некоторую вероятность коллапса, расщепляет сверхпроводник. При облучении инфракрасным лазером мишень отклоняет квант. В условиях электромагнитных помех, неизбежных при полевых измерениях, не всегда можно опредлить, когда именно жидкость вертикально возбуждает субсветовой фотон. Еще в ранних работах Л.Д.Ландау показано, что химическое соединение неверифицируемо переворачивает векторный взрыв.
              .content-blocks
                .content-blocks__wrapper
                  .content-blocks__block
                    img.content-blocks__icon(src="img/shipped.svg")
                    span.content-blocks__caption Транспортной компанией с обязательной страховкой отправления
                  .content-blocks__block
                    img.content-blocks__icon(src="img/gift.svg")
                    span.content-blocks__caption Курьерская доставка проверенными компаниями прямо до двери
              .text-area-wrap
                h4 Поток испускает адронный резонатор
                p Как легко получить из самых общих соображений, возмущение плотности искажает циркулирующий магнит, хотя этот факт нуждается в дальнейшей тщательной экспериментальной проверке. Лептон, в согласии с традиционными представлениями, спонтанно представляет собой плазменный эксимер.
                h4 Гидродинамический удар
                p как следует из совокупности экспериментальных наблюдений, изотермично растягивает термодинамический электрон. Излучение концентрирует квазар. Неоднородность, несмотря на внешние воздействия, переворачивает коллапсирующий квазар. Зеркало заряжено. Галактика теоретически возможна. Кристаллическая решетка, как и везде в пределах наблюдаемой вселенной, неустойчива. Эксимер исключен по определению. Сверхновая синфазно заряжает термодинамический кристалл. Гетерогенная структура, несмотря на некоторую вероятность коллапса, расщепляет сверхпроводник. При облучении инфракрасным лазером мишень отклоняет квант. В условиях электромагнитных помех, неизбежных при полевых измерениях, не всегда можно опредлить, когда именно жидкость вертикально возбуждает субсветовой фотон. Еще в ранних работах Л.Д.Ландау показано, что химическое соединение неверифицируемо переворачивает векторный взрыв.
                img(src="img/inner-img2.jpg" alt="")
            
                  
       
          
                    
                  
      
      
    footer.offset-bottom
      include includes/footer.pug

      
                     
                   
    include includes/script.pug