.price-block-info
  .good-info-block

    .good-info-block__row
      span.good-info-block__caption Процессор:
      span.good-info-block__text Intel Core i5 9600K

    .good-info-block__row
      span.good-info-block__caption Охлаждение:
      span.good-info-block__text Thermaltake Pacific M360 Plus D5 Hard Tube Water Cooling Kit

    .good-info-block__row
      span.good-info-block__caption Видеокарта:
      span.good-info-block__text MSI GeForce 2070  8 Gb

    .good-info-block__row
      span.good-info-block__caption Память RAM:
      span.good-info-block__text 2 x 16 Gb DDR4 3600 Corsair

    .good-info-block__row
      span.good-info-block__caption Накопители:
      span.good-info-block__text 250 Gb SSD Samsung EVO 950,2 Tb Seagate Barracuda

    .good-info-block__row
      span.good-info-block__caption Мат. плата:
      span.good-info-block__text MSI B360M PRO-Vh

    .good-info-block__row
      span.good-info-block__caption Корпус:
      span.good-info-block__text Cougar MX330-F черный

  .good-price-block
    .good-price-block__left
      span.good-price-block__old-price 150 990 руб.
      span.good-price-block__price 120 990 руб.
    .good-price-block__right
      span.good-price-block__caption Выгода
      span.good-price-block__sm-price 30 000 рублей

  .garantie
    .garantie__icon
      span.garantie__number 2
    .garantie__wrap
      span.garantie__caption Гарантия
      span.garantie__text 2 года

  .row-btn
    .block-btn
      button.block-btn__btn 
        span Купить
    .block-btn.block-btn--white-two
      button.block-btn__btn
        span Нужна помощь?