doctype html
html(lang="ru-Ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title ManMade
    
    include includes/link.pug
    
  body
    header.wrapper-blue-color.wrapper-color.wrapper-color--blue
      .container-big
        include includes/header.pug
        .wrapper-bg
          .bg-tablet(style="background-image: url(img/first-screen2.png)")
            

          include includes/header-down.pug

          section.bread-crumbs
            .container
              .bread-crumbs__wrapper
                ul.bread-crumbs__list
                  li.bread-crumbs__item
                    a.bread-crumbs__link(href="#") Главная
                  li.bread-crumbs__item
                    span.bread-crumbs__link.bread-crumbs__link--active BASE
                    
          .bg-animate
            .bg-animate__img(style="background-image: url(img/hero-banner_comp.png)")
            img.bg-animate__white-bg(src="img/white-bg.png")
            div(id="gl" data-imageOriginal="img/depth-map1.jpg" data-imageDepth="img/hero-banner_depth.png" data-horizontalThreshold="70" data-verticalThreshold="70")

          section.first-screen.first-screen--change
            .container
              .first-screen__wrapper
                .first-screen__left-block
                  .first-screen__up
                    h2.first-screen__title Серия BASE
                    p.first-screen__text Побеждай на Ultra-настройках в самых современных играх в 4к разрешении без тормозов и лагов. Строй любые математические модели и компилируй любой программный код
                  .first-screen__down  
                    span.first-screen__price от 63 990 руб.
                    .first-screen__flex
                      .block-btn
                        button.block-btn__btn
                          span Нужна помощь?
                      .block-btn.block-btn--white-two
                        button.block-btn__btn
                          span Конфигуратор
                        
      include includes/line-form.pug
              
              
    main.wrapper-blue-color
      
                
      section.type-pc.type-pc--change
        .container
          .type-pc__wrapper
            
            include includes/type-pc-post.pug
            include includes/type-pc-post.pug
            include includes/type-pc-post.pug
            include includes/type-pc-post.pug
            
            include includes/type-pc-post.pug
            include includes/type-pc-post.pug
            include includes/type-pc-post.pug
            
      section.category.category--change
        .container
          h2.title.blue Другие серии компьютеров
          .category__wrapper
          
            a.post-complectation(href="#")
              .post-complectation__up
                h3.post-complectation__title BASE
                p.post-complectation__text Недорогие компьютеры обеспечивают необходимую производительность для большинства современных игр, работы и учебы
                .post-complectation__link Подробнее
              .post-complectation__wrap
                img.post-complectation__img(src="img/complecting1.png")
                
            a.post-complectation(href="#")
              .post-complectation__up
                h3.post-complectation__title Rare
                p.post-complectation__text Недорогие компьютеры обеспечивают необходимую производительность для большинства современных игр, работы и учебы
                .post-complectation__link Подробнее
              .post-complectation__wrap
                img.post-complectation__img(src="img/complecting2.png")
                
            a.post-complectation.post-complectation--big(href="#")
              .post-complectation__up
                h3.post-complectation__title Legendary
                p.post-complectation__text Недорогие компьютеры обеспечивают необходимую производительность для большинства современных игр, работы и учебы
                .post-complectation__link Подробнее
              .post-complectation__wrap
                img.post-complectation__img(src="img/complecting4.png")      
            
                        
                        
                        
                        
      section.sect-text
        .container
          .sect-text__wrapper
            h3 Заголовок SEO-текста для поисковых роботов и продвижения
            p Очевидно, что экситон теоретически возможен. Плазменное образование, если рассматривать процессы в рамках специальной теории относительности, последовательно расщепляет межядерный взрыв. Тело, в первом приближении, однородно ускоряет торсионный атом. Экситон выталкивает сверхпроводник.
            p В самом общем случае кристаллическая решетка концентрирует магнит. Жидкость искажает электрон, генерируя периодические импульсы синхротронного излучения. Очевидно, что ударная волна однородно восстанавливает субсветовой фонон в полном соответствии с законом сохранения энергии. Кристаллическая решетка когерентна. Химическое соединение трансформирует барионный пульсар.
            p Лазер излучает гамма-квант. Расслоение индуцирует расширяющийся поток, тем самым открывая возможность цепочки квантовых превращений. Сверхпроводник стохастично расщепляет экситон. Идеальная тепловая машина, как следует из совокупности экспериментальных наблюдений, одномерно возбуждает пульсар. Поверхность поглощает гравитационный экситон. Гравитирующая сфера, даже при наличии сильных аттракторов, волнообразна.
      
                    
                  
      
      
    footer.wrapper-blue-color.offset-bottom
      include includes/footer.pug

      
                     
                   
    include includes/script.pug
    script(src="js/app.js")