@font-face {
	font-family: 'Exo 2.0';
	src: url('../fonts/Exo2/Exo20-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2.0';
	src: url('../fonts/Exo2/Exo20-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2.0';
	src: url('../fonts/Exo2/Exo20-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2.0 Extra';
	src: url('../fonts/Exo2/Exo20-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2.0';
	src: url('../fonts/Exo2/Exo20-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2.0 Semi';
	src: url('../fonts/Exo2/Exo20-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2.0';
	src: url('../fonts/Exo2/Exo20-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2.0';
	src: url('../fonts/Exo2/Exo20-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2.0 Extra';
	src: url('../fonts/Exo2/Exo20-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
